*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
  --lighter-blue:#524dd0;
  --light-green: #00ffec;
  --dark-blue: #110f2a ;
  --gradient: linear-gradient(to right, #524dd0, #84389e);
  --white: #fff;
  --black: #000;
  --text-color: #110f2a ;
  --cta-color: linear-gradient(to right, #524dd0, #84389e);
  --background-blue: 17, 15, 42;
  --selection: #84389e;
}
body{
   max-width: 1350px;
    border: 1em solid blue;
    margin: 0 auto;
    padding: 0;
    background-color: #FDF6FF;
    font-family:Rajdhani;
}

/* header */
header{
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--lighter-blue);
    z-index: 9999999;
    
}
/* togel-mobile */
.toggle__button{
    display: none;
}

#logo__nav{
    width: 138px;
    height: 45px;
    margin: .3em;
    
}

.link__nav{
    font-family: 'Smooch Sans', sans-serif;
    text-decoration-line: none;
    color: white;
    margin: .3em;
}

.link__nav:hover{
    color: black;
    cursor: pointer;
}

/* first section */
#major__apart{
    position: relative;
    background-color: transparent;
   
}

.background__img{
    background-image: url("../assets/car.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    background-position: center;
    height: 55vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items:center;
    text-align: center;
    position: relative;
    z-index: -2; 
    
    
}

.background__img::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 1em;
    background-color: rgb(0, 0, 0,.5);
    z-index: -1; 
}

.background__img h1{
    font-size: 2em;
    margin: .5em;
}
.background__img p{
    font-size: 1.2em;
    margin-top: .5em;

}

/* carousel, naar aparte pagin's */
.carousel__section{
    position: absolute;
    top: 50%;
    right:32.5%;
    z-index: 9999;
}
#carousel__container{
    position: relative;
    width: 400px;
    height: 300px;
    margin: 0 auto;
    object-fit: cover;
    object-position: center;
}

.carousel__img{
    position: relative;
    width:400px ;
    height: 300px;
    object-fit: cover;
    object-position: center;
}

.carousel__track-container{
    position: relative;
    height: 100%;
    overflow: hidden;

}

.carousel{
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 25ms ease-in;
}

.slide{
    position: absolute;
    top: 0;
    bottom: 0;
}

/* slide buttons */
.carousel__btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: 0;
    cursor: pointer;
}
.carousel__btn img{
    width: 35px;

}
.carousel__btn:hover,
.carousel__btn:focus{
    background-color: rgba(0,0,0,.2);
}
.carousel__btn:focus{
	outline: 1px solid black;
}

.carousel__btn--left{
    left: -40px;
}
.carousel__btn--right{
    right: -40px;
}

/* carousel-nav */
.carousel__nav{
    display: flex;
    justify-content:center;
    width: 400px;
    background-color: transparent;
}

.carousel__indicator{
    border: 0;
	border-radius: 50%;
	width: 1em;
	height: 1em;
	background-color:rgba(0,0,0,.3);
	margin:.3em;
	cursor: pointer;
}

.carousel__indicator.current-slide{
	background-color: rgba(0,0,0,1);
}
/* tex onder de image */
.slide__imagText{
    position: relative;
    width: 400px;
    height: 300px;

}
.link__slides{
    position: absolute;
    bottom: 2px;
    right: .1px;
    width: 100%;
    background:rgba(0,0,0,.5);
}
.link__slides h2{
    padding: 20px;
    color: white;
    text-align: center;
}
.link__slides h2:hover{
    color: rgb(225, 226, 202);
}

/*  First Section__details */
.details{
    display: flex;
    justify-content:space-around;
    align-items:baseline;
    margin-top: 9em;
    background-color:transparent;
}

.Eerst__Deel, .Twede__Deel{
    width: 35%; 
}

.details img{
    margin: 0 auto;
    width: 100%;
    height: 43vh;
    object-fit: cover;
    object-position: center;
    padding: 1em;
    border-radius:2em;
    
}

.details h3{
    margin: 0 auto;
    font-size:1.5em;
    padding: 1em;
}

.details p{
    margin: 0 auto;
    font-size: 1.em;
    padding: 1.5em;
}

/* footer */
footer{
    background-color: var(--dark-blue);
}

#footer__navigition{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20vh;
    margin: 0 1em;
}
.footer__nav{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer__nav il{
    margin: .5em;
    color: var(--white);
}
.footer__nav il >a{
    font-size: 1.2em;
    color: var(--white);

}

.footer__nav il >a:hover{
    color: var(--light-green);
}

.footer__pramarylogos{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;
}

.footer__pramarylogos img{
    margin: .5em;
}

.footer__btn{
    width:152px;
    height: 45px;
    border: none;
    border-radius: .2em;
    background-color: var(--light-green);
    cursor: pointer;
}
.footer__btn:hover{
    transform: translateY(.2em);
    background-color: rgb(186, 243, 243);
}

.footer__btn a{
   font-size: 1.2em;
   text-decoration: none;
}
.footer__privacy{
    margin-left:30%;
   color: #fff;
   font-size: 1.2em;
  
}
.footer__privacy p{
    padding: .5em;
}

.footer__privacy p a{
    color: var(--white);
}

.footer__privacy p a:hover{
    color: gold;
} 

/* Mobile */

@media (max-width:40em){
    #logo__nav{
        width: 86px;
        height: 34px;
        margin: .3em;
        
    }
    /* toggel_baar */
.toggle__button{
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
}
.toggle__button .bar{
    height: 3px;
    width: 100%;
    background-color: var(--white);
    border-radius: 5px;
}

/* End_toggel */


    .nav__baar{
        position: absolute;
        top:2.8em;
        right:.1em;
        display:none;
        flex-direction: column;
        justify-content:space-around;
        align-items: flex-start;
        width: 12em;
        height:150px;
        background-color: rgb(248, 245, 245);
    }

    nav>ul.active{
        display: flex;
        /* opacity: 1; */
    }

    .link__nav{
        font-size: 1em;
        color: #000;
        padding: 1em;
    }

    /* carousel */

    .carousel__section{
        top: 66%;
        right: 16%;

    }
    #carousel__container{
        width: 250px;
        height: 200px;
    }
    .carousel__img{
        width: 250px;
        height: 200px;
    }
    .slide__imagText{
        width:250px;
        height: 200px;
    }
    .carousel__nav{
        width:100%;
    }

   /* deel2 */
   .details{
       display: flex;
       flex-direction: column;
       align-items: center;
       margin-top: 5em;
   }

   .Eerst__Deel, .Twede__Deel{
       width: 100%;
   }
   /* footer */
   footer{
       position: relative;
       height:49vh;
   }
   #footer__navigition{
      display: flex;
      flex-direction: column;
   }
   .footer__nav{
       margin: .1em;
   }
   .footer__pramarylogos{
       display: flex;
       flex-direction: row;
       padding: .2em;
   }
   .footer__pramarylogos img{
       margin:.2em;
   }

   .footer__btn{
       width: 150px;
       height:40px ;
       padding: 1em;
       margin: .5em;
   }
   .footer__privacy{
       position: absolute;
       top:80%;
       font-size: 1em;
      margin: 0 auto;
       text-align: center;
   }
}
